*, *::after, *::before {
    box-sizing:border-box;  
}


/* ---------- ALGEMEEN ----------*/
:root {
	--color-text:#eee;
    --color-text-lime: #CDF851;
    --color-text-orange: #D98100;
    --color-text-black: #0F0E0E;
	--color-background:#0F0E0E;
    --color-background-white:#eee;
	--color-transparant: rgba(252, 253, 248, 0.06275);
	--color-banner-pink: #FFA8BD;
	--color-banner-orange: #D98100;
	--color-banner-redorange: #FF4A23;
	--color-hover-orange: #D98100;
	--color-wheel-grey: #B0A580;
	--color-wheel-white: #FCFDF8;
	--color-wheel-lime: #CDF851;
    --color-wheel-pink: #FFA8BD;
	--color-background-redorange: #FF4A23;
    --color-placeholder: #595959;
}

/* DARK EN LIGHT MODE! */
/* :root {
    color-scheme: light dark;
	--color-text: light dark(#0F0E0E,#eee);
    --color-text-lime: light dark(#396100,#CDF851);
    --color-text-orange: light dark(#B30000, #D98100);
    --color-text-black: light dark(#0F0E0E, #eee);
	--color-background:light dark(#eee, #0F0E0E);
    --color-background-white:light dark(#0F0E0E, #eee);
	--color-transparant: rgba(252, 253, 248, 0.06275);
	--color-banner-pink: light dark(#AD0028, #FFA8BD);
	--color-banner-orange: light dark(#B30000, #D98100);
	--color-banner-redorange: light dark(#A31E00, #FF4A23);
	--color-hover-orange: light dark(#B30000, #D98100);
	--color-wheel-grey: light dark(#5B5239, #B0A580);
	--color-wheel-white: light dark(#0F0E0E, #FCFDF8);
	--color-wheel-lime: light dark(#396100,#CDF851);
	--color-background-redorange: light dark(#A31E00, #FF4A23);
}

html:has( [vlaue="light"]:checked ) {
    color-scheme: light;
}

html:has( [vlaue="dark"]:checked ) {
    color-scheme: dark;
} */





@font-face {
    font-family: 'Romie Italic';
    src: url(../fonts/Romie-Italic.woff2);
}

@font-face {
    font-family: 'Suisse BP regular';
    src: url(../fonts/Suisse-BP-regular.woff2);
}

@font-face {
    font-family: 'Suisse BP light';
    src: url(../fonts/Suisse-BP-light.woff2);
}

@font-face {
    font-family: 'Panama';
    src: url(../fonts/Panama.woff2);
}

@font-face {
    font-family: 'CompactaStd bold';
    src: url(../fonts/CompactaStd-Bold.woff2);
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: 'Suisse BP regular', 'Helvetica Neue', 'Arial', sans-serif;
    
    margin: 0;
}



/* ---------- HEADER ---------- */
header {	
    position: fixed;
	top: 0;
    height: 4.5em;
	padding: .5em;
	border-bottom: 2px solid var(--color-transparant);
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 100%;
    z-index: 100;
}

header a {
	padding: 1em 0;
	color: var(--color-text);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2.2em;
}

header button {
    background-color: transparent;
    color: var(--color-text);
    border: none;
}

nav {
	order: 1;
	display: grid;
	gap: 2em;
	align-content: start;
	position: fixed;
	z-index: 2;
	inset: 0;
	translate: 0 100%;
	transition: .3s;
}

nav button {
	position: relative;
	z-index: 1;
  	align-self: start;
  	justify-self: end;
	margin: 2em;
    background-color: transparent;
    color: var(--color-text);
    border: none;
}

nav ul { 
	list-style-type: none;
	line-height: 5em;
}

nav.showMenu {
	translate: 0% 0%;
	background-color: var(--color-background);
}
  
nav li {
	flex-basis: 100vw;
	font-size: 2em;
}

/* CHATGPT: hoe maak ik een outline van de */
nav li a:hover {
    color: var(--color-transparant);
    -webkit-text-stroke: 1px #fff;
}




/* ---------- FOOTER ---------- */
footer section:nth-of-type(1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
} 

footer ul {
    list-style-type: none;
}

footer section:nth-of-type(1) > ul {
    padding: 0;
    margin: 5em 0;
}

footer section:nth-of-type(1) li > a {
    color: var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.5em;
    display: inline-block;
    transition: transform 0.3s ease;
}

footer a > img {
    width: 90%;
    margin: 1em;
}

footer section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

footer section:nth-of-type(2) li > a {
    color: var(--color-text);
    text-transform: capitalize;
    text-decoration: none;
    line-height: 2em;
    display: inline-block;
    transition: transform 0.3s ease;
}




/* ---------- HOVER: FOOTER --------- */
footer ul li a:hover,
footer ul li a:focus-visible {
    color: var(--color-text-lime);
    outline-offset: .5em;
    transform: scale(1.1);
}

footer a > img:hover {
    fill: var(--color-text-lime);
}